// $subcolor: #B6D094;

@import 'fonts';


@media screen and (min-device-width: 750px)
{
.slide{
	// position: relative;
	
}

body{
	margin-top: 20px;
	background-color: white;

}

.wrapper{
	display: inline-block;
	width: 85%;
	margin-top: 2%;
	// position: fixed;
	margin-left: 80px;
	// text-align: left;
}



.daniel{
	color: black;
}

a{
	text-decoration: none;
	color: black;
}

.aboutMe{
	display: inline-block;
	font-size: 2.6em;
	// margin-left: 10%;
	color: #BDC7B7;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	// text-align: center;
}

span{
	color: black;
	margin: 0; 
}


.cv{
	// display: inline-block;
	color: #737367;
	letter-spacing: 1px;
	font-size: 0.6em;
	margin-top: 10px;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	// margin-left: 4%;


}


#social_links{
	color: #A2A392;
}



// SELCETED WORKS SECTION -------------------------------------------------------

.work_listing{
	display: block;
	// position: relative;

	margin-top: 100px;
	margin-left: 80px;
}

#selectedworks{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #BDC7B7;
	border-bottom: 1px solid #BDC7B7;
	width: 152px;
	margin-bottom: 20px;
	font-size: 1.8em;
	// margin-bottom: -12px;
	letter-spacing: 1px;
}

#first_project{
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
	// width: 30%;

}

#second_project{
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
	// margin-left: 20px;
	// width: 30%;
}

#third_project{
	vertical-align: top;
	display: inline-block;
	// margin-left: 20px;
	// width: 30%;
}



#date{
	font-size: 0.8em;
	color: #99A1A6;
	margin-top: -100px;
	margin-left: 8px;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;

}

#linkcolor{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1.8em;
	padding: 0;
	margin-top: 12px;
	margin-bottom: 0px;
}


.explanation{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	width: 340px;
	font-size: 1.2em;
	color: black;
}

.project_info{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 0.8em;
	color: #BDC7B7;
	padding: 0px;
	margin: 0px;

}

// end of selected works css --------------------------------------------------

}


// @media only screen and (max-device-width : 749px) { 


// body{
// 	margin-top: 20px;
// 	background-color: #211F20;

// }

// h2{
// 	margin: 0 auto;
// }


// h4{
// 	margin: 0 auto;
// }


// .daniel{
// 	// display: inline-block;
// 	// position: relative;
// }

// a{
// 	text-decoration: none;
// 	color: white;
// }

// .aboutMe{
// 	font-size: 3.0em;
// 	margin-left: 4%;
// 	width: 90%;
// 	color: #707070;
// 	font-family: madrasextra_bold_italic;

// }

// span{
// 	color: white;
// }



// .cv{
// 	// display: inline-block;
// 	color: #FFC857;
// 	letter-spacing: 1px;
// 	font-size: 50px;
// 	margin-top: 40px;
// 	font-family: madrasextra_bold_italic ;

// }


// #social_links{
// 	color: white;
// }



// // SELCETED WORKS SECTION -------------------------------------------------------

// #selectedWorks{
// 	color: #847996;
// 	font-size: 1em;
// 	// text-align: center;
// 	text-transform:uppercase;
// 	font-family: madrasextra_bold_italic;
// 	margin-left: 4%;
// 	margin-top: 3%;
// 	margin-botom: 0;
// 	right: 100px;

// }

// .listofwork{
// 	margin-top: 0.5%;
// 	width: 90%;
// 	// border: 1px solid rgba(193, 193, 193, 0.1);

// }


// .work_listing{
// 	margin-left: 4%;
// 	margin-top: 20px;
// 	width:90%;
// }

// #work1{
// 	color: white;
// 	font-family: madrasextra_bold_italic;
// 	font-size: 1.5em;
// }

// #work2{
// 	color: white;
// 	font-family: madrasextra_bold_italic;
// 	font-size: 1.5em;
// }

// #work3{
// 	color: white;
// 	font-family: madrasextra_bold_italic;
// 	font-size: 1.5em;
// }

// #span{
// 	font-family: pt sans;
// 	color: #9EBA89;
// 	font-size: 12pt;
// }

// #underline{
// 	color: white;
// }

// .skills{
// 	margin-left: 4%;
// 	font-family: madrasextra_bold_italic;
// }

// #use{
// 	color: #F9D96D;
// }

// #date{
// 	font-size: 0.6em;
// 	color: #F9D96D;
// 	margin-top: -100px;
// }

// #freshbooked{
// 	height: 16%;
// 	width: 16%;
// 	margin-bottom: -7px;
// }

// #selectedworks{
// 	font-family: 'PT Sans', sans-serif;	
// 	color: #707070;
// 	font-size: 1.8em;
// 	margin-bottom: -12px;
// 	letter-spacing: 1px;
// }

// footer{
// 	font-family: madrasextra_bold_italic;
// 	color: white;
// 	font-size: 0.4em;
// 	margin-left: 4%;
// }

// // end of selected works css --------------------------------------------------


// }




















