@font-face {
  font-family: 'madrasextra_bold_italic';
  src: url("madrasextrabolditalic-webfont.eot");
  src: url("madrasextrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("madrasextrabolditalic-webfont.woff2") format("woff2"), url("madrasextrabolditalic-webfont.woff") format("woff"), url("madrasextrabolditalic-webfont.ttf") format("truetype"), url("madrasextrabolditalic-webfont.svg#madrasextra_bold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'madrasextra_light';
  src: url("madrasextralight-webfont.eot");
  src: url("madrasextralight-webfont.eot?#iefix") format("embedded-opentype"), url("madrasextralight-webfont.woff2") format("woff2"), url("madrasextralight-webfont.woff") format("woff"), url("madrasextralight-webfont.ttf") format("truetype"), url("madrasextralight-webfont.svg#madrasextra_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pier_sansbold_italic';
  src: url("pier-bold-italic-webfont.eot");
  src: url("pier-bold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("pier-bold-italic-webfont.woff2") format("woff2"), url("pier-bold-italic-webfont.woff") format("woff"), url("pier-bold-italic-webfont.ttf") format("truetype"), url("pier-bold-italic-webfont.svg#pier_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pier_sansbold';
  src: url("pier-bold-webfont.eot");
  src: url("pier-bold-webfont.eot?#iefix") format("embedded-opentype"), url("pier-bold-webfont.woff2") format("woff2"), url("pier-bold-webfont.woff") format("woff"), url("pier-bold-webfont.ttf") format("truetype"), url("pier-bold-webfont.svg#pier_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pier_sansitalic';
  src: url("pier-italic-webfont.eot");
  src: url("pier-italic-webfont.eot?#iefix") format("embedded-opentype"), url("pier-italic-webfont.woff2") format("woff2"), url("pier-italic-webfont.woff") format("woff"), url("pier-italic-webfont.ttf") format("truetype"), url("pier-italic-webfont.svg#pier_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pier_sansregular';
  src: url("pier-regular-webfont.eot");
  src: url("pier-regular-webfont.eot?#iefix") format("embedded-opentype"), url("pier-regular-webfont.woff2") format("woff2"), url("pier-regular-webfont.woff") format("woff"), url("pier-regular-webfont.ttf") format("truetype"), url("pier-regular-webfont.svg#pier_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'big_johnregular';
  src: url("bigjohn-webfont.eot");
  src: url("bigjohn-webfont.eot?#iefix") format("embedded-opentype"), url("bigjohn-webfont.woff2") format("woff2"), url("bigjohn-webfont.woff") format("woff"), url("bigjohn-webfont.ttf") format("truetype"), url("bigjohn-webfont.svg#big_johnregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin-top: 20px;
  background-color: white; }

.wrapper {
  display: inline-block;
  width: 85%;
  margin-top: 2%;
  margin-left: 80px; }

.daniel {
  color: black; }

a {
  text-decoration: none;
  color: black; }

.aboutMe {
  display: inline-block;
  font-size: 2.6em;
  color: #BDC7B7;
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

span {
  color: black;
  margin: 0; }

.cv {
  color: #737367;
  letter-spacing: 1px;
  font-size: 0.6em;
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100; }

#social_links {
  color: #A2A392; }

.work_listing {
  display: block;
  margin-top: 100px;
  margin-left: 80px; }

#selectedworks {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #BDC7B7;
  border-bottom: 1px solid #BDC7B7;
  width: 152px;
  margin-bottom: 20px;
  font-size: 1.8em;
  letter-spacing: 1px; }

#first_project {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top; }

#second_project {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top; }

#third_project {
  vertical-align: top;
  display: inline-block; }

#date {
  font-size: 0.8em;
  color: #99A1A6;
  margin-top: -100px;
  margin-left: 8px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100; }

#linkcolor {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 1.8em;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 0px; }

.explanation {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  width: 340px;
  font-size: 1.2em;
  color: black; }

.project_info {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 0.8em;
  color: #BDC7B7;
  padding: 0px;
  margin: 0px; }

/*# sourceMappingURL=main.css.map */
